@keyframes blinking {
	0% {
		opacity: 0;
	}
	49.9999% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9999% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes blinking {
	0% {
		opacity: 0;
	}
	49.9999% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9999% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes blinking {
	0% {
		opacity: 0;
	}
	49.9999% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9999% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-o-keyframes blinking {
	0% {
		opacity: 0;
	}
	49.9999% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9999% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@mixin blinking($duration: 0.5s, $count: infinite) {
	@each $i in "-webkit-", "-moz-", "-o-", "" {
		#{$i}animation: blinking $duration;
		#{$i}animation-iteration-count: $count;
	}
}

.blinking-blink {
	@include blinking();
}
blink {
	@include blinking();
	text-decoration: none;
}

